body {
    font-family: helvetica;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #AAA1C8;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.logo img {
    width: 100px;
    height: auto;
    margin-left: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 14px;
}

nav a:hover {
    color: #192A51;
}

/*Banner*/
.banner {
    background-color: #9990b4;
    color: white;
    text-align: center;
    padding: 80px 20px 60px 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.banner .conteudo {
    position: relative;
    z-index: 1;
}

.banner .conteudo h1 {
    font-size: 2.5rem;
    margin: 10px 20px 20px 20px;
}

h1 .destaque {
    color: #192A51;
    font-weight: bold;
    text-shadow:
        0 0 5px #a7bfff,
        0 0 10px #a7bfff,
        0 0 20px #6c81ff,
        0 0 30px #6c81ff,
        0 0 40px #6c81ff,
        0 0 55px #6c81ff,
        0 0 75px #6c81ff;
}

.banner .conteudo p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 50px;
}

.banner .botao {
    background-color: #192A51;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 60px;
    display: inline-block;
    z-index: 10;
    position: relative;
    cursor: pointer;
    box-shadow:
        0 0 5px #a7bfff,
        0 0 10px #a7bfff,
        0 0 20px #6c81ff,
        0 0 30px #6c81ff,
        0 0 40px #6c81ff,
        0 0 55px #6c81ff,
        0 0 75px #6c81ff;
}

.banner .botao:hover {
    background-color: #D5C6E0;
    color: #192A51;
}

.fundo-video {
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/*sobre*/
.bannersobre {
    font-size: small;
    background-color: #9990b4;
    color: white;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    align-items: center;
}

.conteudosobre h2 {
    text-align: left;
    margin-left: 55px;
}

.bannersobre p {
    max-width: 500px;
    margin-left: 60px;
    margin-bottom: 50px;
    line-height: 1.6;
    text-align: justify;
    font-size: 18px;
}

.photobanner {
    margin-top: 5px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    overflow: hidden;
    border: 5px solid white;
    background-color: #192A51;
}

.photobanner img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*portfolio*/
.exe h1 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    padding: 40px 20px 2px 20px;
    margin-bottom: 2px;
}

.exe h2 {
    font-weight: lighter;
    text-align: center;
    padding-bottom: 40px;
}

.exe p {
    text-align: left;
    padding-left: 20px;
}

.carrossel {
    margin: 5px auto;
    width: 900px;
    height: 500px;
    margin-bottom: 50px;
    border: 5px solid white;
    display: flex;
    overflow-x: auto;
    gap: 1em;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;
    padding: 1px;
}

.card {
    flex: 0 0 5em;
    height: 330px;
    padding: 35px;
    background: #AAA1C8;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 299px;
    height: 350px;
    object-fit: cover;
    border-radius: .5em;
    margin-bottom: 80px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

/* Responsividade para telas pequenas */
    @media (max-width: 768px) {
    .carrossel {
        width: 95%;
        height: 250px; 
    }
    .group {
        animation-duration: 15s; 
    }
    .card {
        width: 30%;  
    }
}

/* Responsividade para telas médias */
@media (max-width: 1024px) {
    .carrossel {
        width: 90%;
        height: 300px;
    }

    .card {
        width: 25%;
    }
}

/* Responsividade para telas grandes */
@media (min-width: 1200px) {
    .carrossel {
        width: 80%;
        height: 400px;
    }

    .card {
        width: 20%;
    }
}

footer {
    background-color: #192A51;
    color: white;
    padding: 5px 10px 5px 10px;
}

.footer {
    background-color: #192A51;
    color: white;
    padding: 40px 20px 50px 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    width: 23%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}

.footer-section h4 {
    margin-bottom: 15px;
    color: white;
    text-shadow:
        0 0 5px #9990b4,
        0 0 10px #9990b4,
        0 0 20px #9990b4,
        0 0 30px #9990b4,
        0 0 40px #9990b4,
        0 0 55px #9990b4,
        0 0 75px #9990b4;
}

.footer-section a {
    color: #f0f0f0;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer-section a:hover {
    color: #9990b4;
    /* Cor de destaque ao passar o mouse */
}

/* Redes sociais */
.social-links {
    list-style: none;
    padding: 0;
}

.social-links a {
    text-decoration: none;
    color: #f0f0f0;
}

#contato {
    padding: 50px;
    background-color: #f4f4f4;
}

.contato-info ul {
    list-style-type: none;
    padding: 10px;
}

.contato-info ul li {
    margin: 20px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.contato-info ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.contato-info ul li a i {
    margin-right: 50px;
    /* Espaço entre o ícone e o texto */
    font-size: 24px;
    /* Tamanho do ícone */
    color: #3b5998;
    /* Cor dos ícones (pode ser ajustada) */
    transition: color 0.3s ease;
}


/* Responsividade: se a tela for pequena, as seções ficam uma abaixo da outra */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        /* Alinha as seções ao centro quando estiver em coluna */
    }

    .footer-section {
        width: 100%;
        /* Seções ocupam 100% da largura */
        text-align: center;
        /* Centraliza o conteúdo */
    }
}
